@import '../ui-kit.scss';

.base-select {
  select {
    &:focus {
      border: 1px solid $base-color !important;
      box-shadow: 0 0 0.05rem $base-color !important;
    }
  }

  .invalid-feedback {
    display: block;
  }

  &:has(.invalid-feedback) select {
    border: 1px solid $validation-error !important;
    box-shadow: 0 0 0.05rem $validation-error !important;
  }
}