.add-db {
  h4 {
    margin-bottom: 32px;
  }

  .base-input {
    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 32px;
    }
  }

  .btn {
    width: 100%;
  }

  .back-button {
    width: fit-content;
    margin-bottom: 16px;
  }

  &--warning{
    opacity: 0;
    transition: .2s;
  }
  &--warning__show{
    opacity: 1;
  }
}