.main-page {
  position: relative;

  h6 {
    margin-bottom: 32px;
  }

  h4 {
    margin-bottom: 16px;
  }

  .base-action-button {
    margin-bottom: 16px;
  }

  &--db {
    margin-bottom: 32px;

    &__host {
      width: 100%;
      padding-bottom: 16px;
      margin-bottom: 16px;
      border-bottom: 1px solid #ececec;
      display: flex;
      align-items: center;
      gap: 8px;
      
      p {
        margin-bottom: 0;
      }

      svg {
        margin-left: auto;
        width: 1.5em;
        height: 1.5em;
      }
    }
  }

  .add-connection {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}