.my-db {
  position: relative;
  
  .progress {
    margin-bottom: 32px;
    
    &-bar {
      background-color: var(--tg-theme-button-color);
    }
  }

  .back-button {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}