@mixin status-badge {
  border: 1px solid;
  border-radius: 4px;
  padding: 1px 4px;
}

.my-db {
  .progress {
    margin-bottom: 32px;
    
    &-bar {
      background-color: var(--tg-theme-button-color);
    }
  }

  .back-button {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  &--status__red{
    @include status-badge;
    border-color: red;
    color: red;
  }

  &--status__green{
    @include status-badge;
    border-color: green;
    color: green;
  }

  &--status__gray{
    @include status-badge;
    border-color: gray;
    color: gray;
  }
}