$base-color: blue;
$button-text-color: white;
$secondary-color: lightblue;
$hover-color: darken($base-color, 20%);
$disabled-color: lighten($base-color, 20%);
$transition-speed: .3s;
$validation-error: #dc3545;
$text-black: #1f1f1f;

.spinner-border {
  color: var(--tg-theme-button-color) !important;
}

.reload-button {
  animation: var(--bs-spinner-animation-speed) linear infinite var(--bs-spinner-animation-name);
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 2em;
  color: var(--tg-theme-button-color) !important;

  &.false {
    animation: none !important;
  }
}